body {
  border: 1px solid rgb(44, 0, 124);
  background-color: rgb(1, 14, 20);
  padding: 50px 45px;
  display:block;
  border-radius: 50px;
  background-clip: padding-box;
  box-shadow: 2px 2px 100px rgba(0, 50, 80, 1);
  }

.primeiro-paragrafo { /*Defining position inside the <p>, estyle and properties */
    font-family: "Courier New", 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center; /* choosing where the <p> ll be on the page */
    /* Bordas e Cores */
    border: 5px solid rgb(116, 1, 155);
    background-color:rgb(153, 233, 153); /* Color of the limited area inside the boarder */
    color: rgba(200, 0, 150, 1); /* color on the writing */
    box-shadow: 2px 2px 30px rgb(130,0, 249, 1); /* shadow on the boarder that i can move or get it bigger */
    border-radius:30px; 
    padding: 15px 40px; /* thickness of padding area */
    display:flex; /* this shows how we want the whole element to be */
    cursor:pointer; /* this show the pointer format when passing on the element */
    /* Highlight the first paragraph */
    font-weight:bolder; 
    color: #f50ae5; /* Pink */
    /* Definindo a largura do paragrafo e posicionamento na tela */
    max-width: 600px; /* Ajust maximum width */
    margin: 0 auto; /* Center it */
    /*cor do fundo*/
   };
   /* Estilos para o segundo parágrafo */
.segundo-paragrafo {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 10px;
  color:antiquewhite ;
  box-shadow: 2px 2px 30px rgba(rgb(76, 0, 111), 1);
  background-color: #f50ae5;
  border: 5px rgba(red, rgb(2, 120, 2), blue, alpha);
  font-size: 18px;
  /* Adicione mais estilos conforme necessário */
}

